@charset "utf-8";

/*!
 * Neo v1.0.0
 * Copyright 2013-2014 YokCreative 
 * Designed and built using Boostrap 3.0 & FontAwesome Icons
 * If you can't find style assignments here, please check theme.less
 */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900,400italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,600,700,900);

/* BODY
 * -------------------------- */
body					 {font-family:'Source Sans Pro', Geneva, sans-serif;}

/* BASIC OVERRIDES
 * -------------------------- */
a i:hover				 			{text-decoration:inline-none;}
.breadcrumb							{padding-left:.125em; padding-top:0; margin-bottom:.5em;line-height:.9em;}
.btn-group.open .dropdown-toggle 	{box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.125) inset;}
.dropdown-header		 			{font-size:100%;}
.navbar-nav .open .dropdown-menu li {padding-bottom:.25em;padding-top:.25em;}
.form-control			 			{box-shadow:none;}
.list-bottom-border	> li 			{border-bottom: 1px solid rgba(0, 0, 0, 0.15);padding:1em;}
.list-inline			 			{line-height:1.25em!important;}
.list-default					    {padding:.65em;}
.list-default:last-child 			{padding-bottom:0em;}
.panel  				 			{margin-bottom:1em!important;}
.progress				 			{margin-top:.35em; margin-bottom:.35em; height:8.5px}
.panel-body .progress				{margin-top:.7em; margin-bottom:.7em;}

/*nav*/
.nav .caret							{margin-left:.25em}
.navbar-nav > li > a 				{line-height:45px;}
.navbar-fixed-top .container 		{max-width:100%!important;}
.navbar-toggle						{border:none;margin:0; padding:1.75em; min-height:95px;}
.navbar-collapse					{overflow-x:hidden;padding-right:2em!important;}
.navbar-nav 						{margin:0;}
.navbar-brand 						{float:none;}

/* GENERAL STYLING
 * -------------------------- */
#main-content-wrapper			{padding-left:3em;padding-right:4em;}
.add-margin 					{margin:14px;}
.add-padding, .add-padding li	{padding:.25em!important;}
.block							{display:block}
.checkbox						{padding-right:.5em;}
.daily-stat-left				{margin-right:1em;}
.date							{width:20%;margin-top:.6em;margin-right:.75em;}
.date input						{border:1px solid #cfcfcf!important; width:100%; text-align:center; float:right;height:2em;}
.idle							{opacity:.4;}
.indent							{padding-left:1em;}
.float-vertical					{top:40%;}
.followers .well 				{padding-left:10px;padding-right:10px; }
	
.page-wrapper					{padding-top:0em;}
.padding-bottom					{padding-bottom:.75em;}
.padding-right					{padding-right:.75em;}
.padding-left					{padding-left:.75em;}
.no-border 						{border:none!important;}
.no-border-left					{border-left:none!important;}
.no-border-right				{border-right:none!important;}
.no-padding						{padding:0!important;}
.no-padding-right				{padding-right:0!important;}
.no-padding-left				{padding-left:0!important;}
.no-padding-top					{padding-top:0!important;}
.no-margin						{margin:0;}
.no-radius						{border-radius:0;}
.stacked						{margin-bottom:.25em;margin-top:.25em;}
.time							{font-size:.9em; font-style:italic;}
#todo  .check					{margin-right:1em;}
.tools							{margin: 7px 0px 0px;}
.tools	a						{padding-right:.5em;}
.tools .btn a 					{padding-right:0!important;}
.transparent					{background:transparent!important;}
.row							{margin:0;}
.well-xl						{padding:28px; }

#calendar table					{max-width: 100%; background-color: transparent; border:none;}
#calendar .table tbody > tr > th,
#calendar .table tbody > tr > td {border:none;}
 
/*accordian*/
[id^="accordion"] .panel, [id^="accordion"] .panel-heading		{border-radius:0;}
[id^="accordion"] .panel 										{margin-bottom:0em!important;}
[id^="accordionrnd"].panel-group  .panel 						{margin-bottom:0em!important;margin-top:0em!important;}
[id^="accordionrnd"].panel-group   								{margin-bottom:1em!important;}
.panel-group   													{margin-bottom:1em!important;}

/*alignments*/
.align-center-vert			{line-height:50px!important;vertical-align: middle;}
.align-center-vert-alt		{line-height:2.25em;}

/*alerts*/
.alert .icon-3x 			{line-height:.7em;}
.alert h3					{margin-bottom:0em;}
.alert-message				{margin-top:.5em;}
.alert-lg					{padding:2em;}

/*badges*/
.badge 			 {padding: 3px 8px 5px;}
.badge-circle 	 {display: inline-block;
    height:55px;
	width:55px;
    color:#fff;
	text-align: center;
	vertical-align:middle;
    border-radius: 50%;
	margin-top:.25em}
.pushy a .badge, #sidebar-wrapper .badge  {text-align:center; text-indent:0; margin-left:2em!important;}
.dropdown .badge, .panel a .badge {
    display: inline-block;
    padding: 2px;
    font-weight: bold;
	line-height: 1.7em;
    color:#fff;
    margin-top:.1em;
	margin-left:-.15em;
	min-width:24px;
	text-align: center;
    white-space: nowrap;
    border-radius: 15px 15px 15px 15px;
	position:absolute;
	z-index:999;}
.panel a .badge {margin-left:-.8em;margin-top:-.6em;}
	
/*buttons*/
.btn .spacer								{margin-right:.5em;}
.btn-icon-trans								{opacity:.85;}			
.btn-xs										{padding:.5px 5px 1.5px 5px}

/*carousel*/
.carousel-control.left 		{background-image: none;}
.carousel-control.right 	{background-image: none;}
.carousel.carousel-fade .item {
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity:0;
}
.carousel.carousel-fade .active.item {opacity:1;}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
	left: 0;
	z-index: 2;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*dropdowns*/
.navbar-static-top .dropdown-menu 			{top:70%}
.dropdown-menu								{z-index:1000;}
.dropdown-menu,  .divider    				{padding:0!important; margin:0!important;}
.dropdown-menu > li a, .dropdown-header   	{padding-top:.75em;padding-bottom:.75em;}
.dropdown-header 							{background-color:#000!important;}
.dropdown-menu .label						{margin-right:.75em;padding-bottom:.5em;padding-top:.55em;}
.dropdown-menu > li > a:hover 				{color:#222!important;}
.dropdown-menu > li > a img					{margin-top:.3em;}
.notification  								{min-width:300px;}
.message-preview							{min-width:400px;}

/*form controls*/
.form-control		 {margin-bottom:1em;border:0!important;}
.panel .form-control {background:#fff!important;}
.panel .form-control {
            
            -moz-border-top-colors: none;
            -moz-border-right-colors: none;
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            border-image: none;
            box-shadow: none;
            font-size:110%;
			padding-bottom:.4em!important;
			margin-bottom:0em!important;
            }
.form-signin .form-control 							{position: relative;}
.form-control:focus 								{box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(158, 164, 177, 0.6);}
.form-signin .input-stacked input[type="text"]		{margin-bottom: -.75px;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}
.form-signin .input-stacked input[type="password"]	{margin-bottom: 10px;border-top-left-radius: 0;border-top-right-radius: 0;}
.form-control:-moz-placeholder {
  color: #888;
}
.form-control::-moz-placeholder 		 {color: #888;}
.form-control:-ms-input-placeholder 	 {color: #888;}
.form-control::-webkit-input-placeholder {color: #888;}
.form-control {font-size: 12px;color: #888;}

/*icons*/	
#task-nav a i 							{margin-right:1em;}
.custom-check .close-panel				{line-height:2em!important;}
.task-list i							{margin-left:1em;}

/*inputs*/	
th .check								{padding:4.25px 6px 4.5px 10px; margin-right:0;}
.ez-checkbox							{min-width:20px;}
.input-group-btn .btn .icon-search		{line-height:1.2em!important; border:0!important;}
.input-group-btn .btn,					
.input-group-btn .btn .icon-user  		{border:0!important;line-height:1.56em}
.input-group-addon						{border:0!important;}
.center-panel .checkbox					{margin-left:-1.5em!important;}

/*images*/	
#login .img-circle{
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	margin-bottom:1em;}
.user-thumbnail	 				{display:inline;float:left; margin-right:1em;}
.user-thumbnail-xs	 			{display:inline;float:left; margin-right:1em;width:30px}
	
/*lists*/	
.followers li 					{margin-bottom:1em;}
ul, ol 							{margin-top: 0px;margin-bottom: 0px;}
.list-default li				{padding-top:.83em; padding-bottom:.83em;}
.list-default li:first-child	{padding-top:0em;}
.list-default li:last-child		{padding-bottom:0em;}
.list-alt li					{padding-top:.75em; padding-bottom:.75em;}
.list-alt li:first-child		{padding-top:0em;}
.list-alt li:last-child			{padding-bottom:0em;}

/*modals*/
.full-width .modal-dialog  		{width:100%!important}
.wide-width .modal-dialog  		{width:70%!important}
.modal.center 					{top:20em!important; overflow:hidden;}
#modals .col-md-3				{margin-bottom:2em;}
[id^="myModal"]					{z-index:3500;}

/*overlays*/
.overlay-top-right				{position:absolute!important; z-index:999; float:right; right:2em; top:2em;}
.overlay-top-left				{position:absolute!important; z-index:999; float:left; left:2em; top:2em;}
 @media (max-width: 468px) {
	 .overlay-top-right		{position:absolute!important; z-index:1000; float:left; left:1.9em; top:6em;}
}

/*panels*/
.panel-footer ol 			{margin-top:.25em;}
.panel-footer				{background-color:transparent; padding-bottom:0;}
.panel-heading-border		{padding:0;border-bottom:5px solid rgb(236, 234, 229)}
.panel-heading a			{text-decoration:none;}
.panel h4 i					{padding-right:.5em;}
.panel-padded				{padding:1.5em;}
.panel-primary > .panel-heading + .panel-collapse .panel-body	{border:transparent}
.panel-group .panel-heading + .panel-collapse .panel-body		{border:transparent}
.panel-thin					{padding-bottom:12px!important;padding-top:12px!important;margin-bottom:-.25em;margin-top:-.25em;}
.panel.top					{margin-bottom:0!important;}

/*preloader*/
.preloader-wrapper {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: ; /* specified in theme.less */
}
.preloader {position:relative;top:25%; left:40%;}
	
	@media (min-width: 480px)and (max-width: 880px) {
		.preloader {top:45%; left:35%;}
	}
	@media (max-width: 480px) {
		.preloader {top:15%; left:48%;}
	}

/*tabs & pills*/
.tab-content				{padding:2em 2em; z-index:1000; margin-bottom:1em;}
.add-shadow					{-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);}
.nav-pills > li > a,	
.vertical-nav .tab-content	{border-radius: 0;}
.nav-pills > li > a			{margin-bottom:-.15em!important}
.tab-pane h3				{margin-top:0;}

/*panel tabs*/
.panel-tabs 				{bottom: 28px;clear:both;position: relative;border-bottom: 1px solid transparent; margin-right:-13px;}
.panel .tab-content			{background:transparent;}
.panel-tabs > li 			{float: left;border-image-repeat:repeat;}
.panel-tabs > li > a {
    margin-right: 0px;
    margin-top: 0em;
    line-height: 1.4em;
    border: 1px solid transparent;
    border-radius: 0;
    color: #ffffff;
}

/*transitions*/
button:hover, [class*=btn]:hover, a:hover, sidebar-nav .submenu li:hover, li:hover {
  -webkit-transition-property: background color;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-property: background color;
  -moz-transition-duration: .5s;
  -moz-transition-timing-function: ease;
  -o-transition-property: background color;
  -o-transition-duration: .5s;
  -o-transition-timing-function: ease;
  -ms-transition-property: background color;
  -ms-transition-duration: .5s;
  -ms-transition-timing-function: ease;
  transition-property: background color;
  transition-duration: .5s;
  transition-timing-function: ease;
  opacity:1!important;
}

.progress-bar {
-webkit-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
   -moz-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -ms-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
     -o-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
        transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */

-webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
   -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
     -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
        transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860); /* easeInOutCirc */
}
/*tables*/
#tasks td 								{padding-right:1.5em; padding-left:1.5em;padding-top:.64em;padding-bottom:.64em}
.panel table  							{margin-bottom:0!important;}
.loose  tbody > tr > td					{padding-left:1em;padding-right:1em;}
.table > tbody > tr:first-child			{border-top:transparent;}
#charts tbody > tr > td					{padding:1.02em 1.02em 1.02em 2.02em!important;}
.table > thead > tr > th				{padding-left:1.5em;}
#inbox .table > thead > tr > th			{padding-left:.5em!important;}
.table-content tbody > tr > td				{line-height:2.5em!important;}

/*toggle*/
@media (min-width: 768px) {
  .list-toggle {
    display: none;
  }
}

/* EASY PIE CHARTS
 * -------------------------- */
#pie-charts .percentage,
#pie-charts .label {
    text-align: center;
    font-weight: 100;
    font-size: 1.2em;
    margin-bottom: 2em;
}

/* FLOT CHARTS
 * -------------------------- */
.demo-container {
	box-sizing: border-box;
	width: 100%;
	height: 250px;
	padding: 20px 15px 0px 15px;
	margin: 15px auto 0px auto;
}
.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
.legend table {border-spacing: 5px;}

	
/* TASKS
 * -------------------------- */
#task-nav	{padding:2em;}

/* WEATHER
 * -------------------------- */
#weather h2	{margin:0;}

/* TYPOGRAPHY & ICONS
 * -------------------------- */
a:focus, a:hover									{text-decoration:none;outline:none;}			
a.inverse 											{color:#fff; opacity:.3;}
h1,.lead											{font-weight:300;}
h1    												{margin-bottom:0em;}
h1,h2, h3, h4, h5, a, .sidebar-item,
.calendar-month-header, .date						{font-family:'Raleway', Geneva, sans-serif;}
h3, h4, h6											{font-weight:600; margin-bottom:;}
h4 													{font-size:110%;}
h4 + .col-xs-6										{margin-top:-.5em!important;margin-left:.2em}
h5													{font-size:105%;margin-top:-.25em;margin-bottom:.75em;}
h6													{font-size:85%;text-transform:uppercase; margin-bottom:-.25em;margin-top:-.25em;}
.tab-pane h3										{margin-bottom:.75em;}	
.panel h3											{margin-top:0;}
.panel-heading 	h4									{padding-left:.75em;}
.panel-body h4, .tab-pane h4						{margin-bottom:0!important;}
.stat h4											{margin-top:0!important;}

.active, .name										{font-weight:600;}
.badge 												{font-family:'Source Sans Pro', Geneva, sans-serif!important;text-transform:uppercase;font-size:.85em;}
.time												{font-family:'Source Sans Pro', Geneva, sans-serif!important;}
.breadcrumb i										{font-size:120%; line-height:2em;}
.big-text 											{font-weight:900;font-size:3em;line-height:1em;}
.big-text i											{font-size:.6em;line-height:2.3em!important;}
.check + [class*=text]								{margin-left:.75em;}
.dropdown-header, .panel-heading .header			{margin-top:0;}
.dropdown-menu 										{z-index:1000;}
.dropdown-menu .dropdown-header [class*="icon"]		{margin-right:.5em;}
.icons-large 										{font-size:3em;}
.icons-medium, .navbar [class*=icon]				{font-size:1.3em;}
.emphasis											{font-weight:600; font-style:italic;}
#email-sidebar  i									{margin-right:.5em;}
.label-md											{font-size:1em;}
.lead												{margin-bottom:.6em;}
.huge-text 											{font-weight:600;font-size:12em;line-height:.65em;letter-spacing:-.02em; opacity:.2}
.nav-tabs > li > a > i								{font-size:1.5em;}
.number												{font-size:1.8em;}
.number	i											{font-size:.9em; opacity:.6;}
.notification i										{margin-right:0em!important;}							
.navbar-brand 			 							{font-weight:900;font-size:2.2em;color:#fff; text-transform:uppercase;}
.panel a:hover										{opacity:.6;}	
.tab-content .active								{font-weight:400;}
.table th 											{font-weight:600;font-size:115%;}
.table th i											{margin-right:.75em;}
.table th .btn i											{margin-right:0;}
.text-float											{display: block;margin-top: 10px;}
.text-transparent									{opacity:.5!important;}
.text-transparent a:hover							{opacity:1!important;}

.sidebar-nav li a, 
.sidebar-nav  > li > .submenu-title 			{opacity:.5!important;}
.sidebar-nav  > li > .active-title 				{opacity:1!important; font-weight:600; color:#fff;}
.sidebar-nav .nav-icon	i					 	{min-width:80px!important;}
	


/* NAVBAR
 * -------------------------- */
.navbar 								{margin-bottom:0; border:none!important;}
.navbar-brand 						 	{line-height:1.6em; padding-left:0;}
.navbar-header							{width:250px}
	@media (max-width: 764px) {
		.navbar-header 					{text-align:left!important;width:100%;padding-left:1.5em;}
		.navbar-brand					{padding-left:.5em;}
		.nav-avatar						{display:none;}
		.navbar-collapse 				{padding-left:0em!important;padding-right:2px!important;}
		.navbar	.col-xs-2				{padding-right:0px!important;}
	}

/* SIDEBAR
 * -------------------------- */
#sidebar-wrapper .nav-icon [class*=icon]		{float:left;line-height:3.2em;margin-right:-1em;}
#sidebar-wrapper  .icon-chevron-down			{font-weight:300;line-height:6em;margin-right:1.5em}


/* GRID 
 * -------------------------- */
.col-xs-half {width:4.16666666%; float:left;}
.col-xs-half,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  padding-right: 7px;
  padding-left: 7px; 
}

#login .row					{margin-bottom:.6em;}

/* MISC. RESPONSIVE
 * -------------------------- */

@media (max-width: 468px) {
	 h1								{font-size:195%;margin-left:.125em;margin-bottom:.25em;}
	 .center-panel 					{margin-top:5%;}
	 .big-type						{font-size:4.5em;}
	 #email-sidebar .avatar			{display:none;}
	 .nav-tabs [class^="icon-"],
	 .nav-tabs 						{font-size:90%!important;}
}

@media (max-width: 764px) {
	.no-breadcrumb				{padding-top:3.5em;}
}

@media (max-width: 980px) {
	.responsive-hide 	{display:none;}
	.panel-body [class^="col-"]	{margin-bottom:1em;}
	#todo  .check				{margin-right:.5em!important;}
}
